@use '/src/common/styles/color' as *;
@use '/src/common/styles/width' as *;
@use '/src/common/styles/mixins' as *;
@use '/src/common/styles/inherits' as *;  

$indent: 10px;



.task {
  @include border(10px);
  width: $width * 2;
  min-width: $min-width;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: $border-width solid black;
  padding: 0 $indent;
  margin: $indent - 2;
  background-color: $colorBG;
&:hover{
  @extend .hover;
}
  p:first-child {
    margin-right: auto;
    @include font(26px, serif, 600);
    font: {
      size: 1.3em;
      family: serif;
      weight: 600;
    }
    text: {
      shadow: 2px 2px 2px white;
      decoration:{
        line: overline;
        style: dotted;
      }
    }
  }
  button {
    margin-left: $indent;
    @include font(20px, arial , 900);
    @include border(10px);
    &:hover {
      background-color: $colorBG;
    }
  }
}
